body {
  background: #181F2B;
  color: white;
}

.box {
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  background: #1B2330;
}
.header .header-container {
  padding: 4.5rem 0;
}
@media (max-width: 768.99px) {
  .header .header-container {
    padding: 2rem 0;
  }
}
.header .header-container .header-logo {
  width: 7.5rem;
  height: fit-content;
}
@media (max-width: 768.99px) {
  .header .header-container .header-logo {
    width: 5rem;
  }
}
.header .header-container a {
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  border-bottom: 1px solid transparent;
  transition: 0.3s ease-in-out;
}
@media (max-width: 768.99px) {
  .header .header-container a {
    font-size: 0.75rem;
  }
}
.header .header-container a:hover {
  font-weight: 400;
  border-bottom: 1px solid white;
}

.intro {
  max-width: 100%;
  background: #1B2330 url("../img/bg-curvy-desktop.svg") no-repeat bottom center;
  background-size: 100vw 480px;
}
@media (min-width: 768px) and (max-width: 991.99px) {
  .intro {
    background-size: 100vw calc(480px - 10%);
  }
}
@media (max-width: 768.99px) {
  .intro {
    background: #1B2330 url("../img/bg-curvy-mobile.svg") no-repeat bottom center;
    background-size: 100vw, contain;
  }
}
.intro .intro-pic {
  max-width: 90%;
  width: 40rem;
  height: fit-content;
}
.intro .intro-title {
  max-width: 45rem;
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 150%;
}
@media (max-width: 768.99px) {
  .intro .intro-title {
    font-size: 1.5rem;
  }
}
.intro .intro-text {
  max-width: 38rem;
  margin: 2rem auto;
  font-size: 1.25rem;
  font-weight: 400;
}
@media (max-width: 768.99px) {
  .intro .intro-text {
    font-size: 0.875rem;
  }
}
.intro .intro-button {
  width: 17.5rem;
  height: 3.5rem;
  background: linear-gradient(138deg, #63E1D9 -49.34%, #34A0CD 100%);
  box-shadow: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.8));
  border: none;
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: 700;
  transition: 0.5s ease-in-out;
  margin: 0 0 12rem;
}
.intro .intro-button:hover {
  background: linear-gradient(138deg, #34A0CD -49.34%, #63E1D9 100%);
}
@media (max-width: 768.99px) {
  .intro .intro-button {
    width: 13.5rem;
    height: 3rem;
    margin: 0 0 0.5rem;
  }
}

.main {
  gap: 8rem;
}
.main .items {
  max-width: 880px;
}
@media (max-width: 768.99px) {
  .main .items {
    padding: 8rem 1rem 0;
  }
}
.main .items .item-img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 768.99px) {
  .main .items .item-img {
    max-width: 75%;
  }
}
.main .items .item-title {
  margin: 1rem 0 0.5rem 0;
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
}
.main .items .item-text {
  font-size: 0.875rem;
}
.main .info .row .info-desc {
  margin-top: 3rem;
}
.main .info .row .info-desc .info-title {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}
@media (max-width: 768.99px) {
  .main .info .row .info-desc .info-title {
    font-size: 1.125rem;
  }
}
.main .info .row .info-desc .info-text {
  font-size: 1rem;
}
@media (max-width: 768.99px) {
  .main .info .row .info-desc .info-text {
    font-size: 0.875rem;
  }
}
.main .info .row .info-desc a {
  width: fit-content;
  padding: 0 0 0.25rem;
  color: #62E0D9;
  border-bottom: 1px solid #62E0D9;
}
@media (max-width: 768.99px) {
  .main .info .row .info-desc a {
    font-size: 0.75rem;
  }
}
.main .info .row .info-desc a i {
  color: #62E0D9;
}
.main .info .row .info-desc a i:hover {
  color: #8ADAE3;
}
.main .info .row .info-desc a:hover {
  color: #8ADAE3;
  border-bottom: 1px solid #8ADAE3;
}
.main .feedback {
  max-width: 1160px;
  margin: 0 auto 32rem;
}
@media (min-width: 768px) and (max-width: 991.99px) {
  .main .feedback {
    padding: 0 2rem;
  }
}
@media (max-width: 768.99px) {
  .main .feedback {
    margin-bottom: 20rem;
  }
}
.main .feedback .feedback-quote {
  position: relative;
  top: 12px;
  left: -10px;
}
@media (max-width: 768.99px) {
  .main .feedback .feedback-quote {
    width: 2.5rem;
    height: auto;
  }
}
.main .feedback .testemonials {
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
@media (min-width: 768px) and (max-width: 991.99px) {
  .main .feedback .testemonials {
    gap: 1.5rem;
  }
}
@media (max-width: 768.99px) {
  .main .feedback .testemonials {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
.main .feedback .testemonials .coment {
  padding: 1.75rem;
  background: #202A3C;
  box-shadow: 5px 5px 8px 4px rgba(56, 56, 56, 0.1);
}
.main .feedback .testemonials .coment .coment-text {
  font-size: 0.875rem;
}
@media (max-width: 768.99px) {
  .main .feedback .testemonials .coment .coment-text {
    font-size: 0.75rem;
  }
}
.main .feedback .testemonials .coment .person .person-img {
  width: 2rem;
  height: 2rem;
}
.main .feedback .testemonials .coment .person .name .name-title {
  font-size: 12px;
  font-weight: 700;
}
.main .feedback .testemonials .coment .person .name .name-ocup {
  font-size: 8px;
  font-weight: 400;
  margin-top: -4px;
}

.cta-box {
  width: 863px;
  max-width: 90%;
  bottom: -5rem;
  left: 50%;
  transform: translateX(-50%);
  background: #1B2330;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 768.99px) {
  .cta-box {
    bottom: -7rem;
    max-width: 85%;
  }
}
.cta-box .cta-title {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}
@media (max-width: 768.99px) {
  .cta-box .cta-title {
    font-size: 1.125rem;
  }
}
.cta-box .cta-text {
  padding: 0 6rem;
  font-size: 0.875rem;
}
@media (max-width: 768.99px) {
  .cta-box .cta-text {
    padding: 0 1rem;
    margin: 0 0 2rem;
  }
}
.cta-box form {
  width: 100%;
  padding: 0 4.5rem;
}
@media (max-width: 768.99px) {
  .cta-box form {
    padding: 0;
  }
}
.cta-box form .email-box {
  flex-grow: 1;
}
.cta-box form .email-box .email {
  max-width: 100%;
  height: 3rem;
  border: none;
  outline: none;
}
@media (max-width: 768.99px) {
  .cta-box form .email-box .email {
    width: 100%;
  }
}
.cta-box form .email-box .email::placeholder {
  font-weight: 300;
}
.cta-box form .email-box .email:focus::placeholder {
  color: transparent;
}
.cta-box form .email-box .error {
  display: none;
  padding: 0 1rem;
  color: red;
}
@media (max-width: 768.99px) {
  .cta-box form .email-box .error {
    width: 100%;
    justify-content: center;
    padding: 0;
  }
}
.cta-box form .button {
  flex-grow: 0;
  width: 12.5rem;
  height: 3rem;
  background: linear-gradient(138deg, #63E1D9 -49.34%, #34A0CD 100%);
  box-shadow: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.8));
  border: none;
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: 700;
  transition: 0.5s ease-in-out;
}
.cta-box form .button:hover {
  background: linear-gradient(138deg, #34A0CD -49.34%, #63E1D9 100%);
}
@media (max-width: 768.99px) {
  .cta-box form .button {
    width: 100%;
    height: 3rem;
  }
}

#footer {
  background: #0B1524;
}
#footer .footer-box {
  gap: 3.375rem;
  padding-top: 12rem;
}
@media (max-width: 768.99px) {
  #footer .footer-box {
    gap: 2.5rem;
  }
}
#footer .footer-box .footer-img {
  max-width: 108px;
}
#footer .footer-box .footer-content .location {
  max-width: 350px;
}
@media (max-width: 768.99px) {
  #footer .footer-box .footer-content .location .local-text {
    font-size: 0.875rem;
  }
}
#footer .footer-box .footer-content .contact p {
  font-size: 14px;
}
#footer .footer-box .footer-content .links a {
  color: white;
  transition: 0.2s ease-in-out;
}
#footer .footer-box .footer-content .links a:hover {
  color: #8ADAE3;
}
#footer .footer-box .footer-content .social a {
  width: 2.5rem;
  height: 2.5rem;
  color: white;
  border: 1px solid white;
  transition: 0.2s ease-in-out;
}
#footer .footer-box .footer-content .social a:hover {
  color: #8ADAE3;
  border: 1px solid #8ADAE3;
}
#footer .footer-box .footer-content .social a i {
  font-size: 0.875rem;
}

/*# sourceMappingURL=style.css.map */
